target/
*.class
*.log

*.jar
*.war
*.ear
*.hprof

.vscode/

.idea/
*.iml

.project
.classpath
.settings/

.DS_Store
Thumbs.db

.env
.env.*
application-local.properties
application-dev.properties
application-prod.properties

docker-compose.override.yml
